// >>> Карточка проекта >>>
mixin project-card(data)
    .project-card(class=attributes.class, class=data.filters)
        |
        .project-card__img-wrapper
            |
            img.project-card__img(src=data.href_img, alt=data.title)
            |
            a.btn.project-card__btn(href='#') Смотреть проект
        .project-card__title.title-4
            | #{data.title}
        .project-card__desc
            | #{data.desc}
// <<< Карточка проекта <<<
